<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
  <div class="content">
    {{ partial "header.html" . }}
    <article class="markdown-body">
      <header>
      <h1 class="post">{{ .Title }}</h1>
      </header>
      <aside>
        {{ .TableOfContents }}
      </aside>
      <content>
        {{ .Content }}
        {{ if eq .Section "posts" }}
      </content>
      <footer class="post-date">
        <span class="g time">{{.Date.Format "January 2, 2006"}} </span> &#8729;
        <nav>
        {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
        {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
        <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
        {{- end -}} {{- end -}}
        {{ end }}
        </nav>
      </footer>
      {{ end }}
    </article>
    {{ if eq .Section "posts" }}
    <div id="comments">
      {{ partial "comments.html" $ }}
    </div>
    {{ end }}
  </div>
</main>
</body>
</html>
