<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main" >
      {{ partial "header.html" . }}
      <div class="content">
        <section>
          {{ .Content }}
        </section>
        <aside id="latest-post">
          {{ $cpt := .Site.Params.lastPostCpt | default 1 }}
          <h1>Latest {{ $cpt}} posts:</h1>
          <nav>
          {{ $list :=  first $cpt (where .Site.RegularPages "Section" "posts" ).ByDate.Reverse }}
          {{ partial "list-post.html" $list }}
          </nav>
        </aside>
      </div>
  </main>
</body>
</html>
